
<!------ Include the above in your HEAD tag ---------->


<html>
    <div><%- include("head.ejs") %></div>
    <link rel="stylesheet" href="/css/other/messages.css">
    <script src="/js/other/messages.js"></script>
    <div><%- include("header.ejs") %></div>
<body>
    
<div class="container">
<h3 class=" text-center">Messaging</h3>
<div class="messaging">
      <div class="inbox_msg">
        <div   class="inbox_people">
            <div id="inbox_chat" class="inbox_chat">


            </div>
         
          

        </div>
        <div class="mesgs">
          <div id="msg_history" class="msg_history">
            
          </div>
          <div class="type_msg">
            <div id="input_msg_write" class="input_msg_write">
              
            </div>
          </div>
        </div>
      </div>
      
      
      
    </div></div>
    </body>
    </html>