<div><%- include("head.ejs") %></div>
<script src="/js/other/search.js"></script>
<div class="container">
        <input type="text" id="search" name="search" placeholder="Search" class="form-control" onkeyup="showResult(this.value)" >   
    </div>

        
          
          <div id="searchResult"></div>
          


